@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*variáveis de cores*/

:root {
    --dourado: #FFCB0E;
    --azul: #297373;
    --azul-escuro: #1B4B4B;
    --fundo: #EBF5EE;
}

/*Configurações gerais*/

* {
    margin: 0;
    padding: 0;
    font-family: "Satisfy", cursive;
    font-size: 20px;
}

body {
    background-color: var(--fundo);
}

/*cabeçalho e navegação*/

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
    align-items: center;
    padding: 10px 20px 10px 5px;
}

#logo {
    width: 100px;
}

/*imagem principal (hero image)*/

#hero {
    width: 100%;
    position: relative;
}

#hero img {
    width: 100%;
    height: auto;
}

#hero-text a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-out;
    background-color: var(--azul);
    border-radius: 30px;
    border: 2px solid black;
}

#hero-text a:hover {
    text-decoration: underline;
    color: var(--dourado);
    background-color: var(--azul-escuro);
    transition: 0.2s ease-out;
}

/*home (descrição + especialidades)*/

#home {
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.card {
    list-style: none;
    text-align: center;
    background-color: var(--azul);
    border-radius: 15px;
    padding: 10px 0;
    border: var(--dourado) 2px solid;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

.card h3 {
    color: white;
    margin-bottom: 10px;
    font-size: 30px;
}

.card img {
    width: 80%;
    border-radius: 15px;
    border: var(--dourado) 2px solid;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-out;
}

.card img:hover {
    transform: scale(1.1);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-out;
}

/*portifólio*/

#portifolio {
    margin: 50px 0;
    background-color: #8AB4B1;
    padding: 20px 0;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 0 75px;
}

.galeriaImgs {
    width: 100%;
    border-radius: 15px;
    border: var(--dourado) 2px solid;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-out;
    cursor: pointer;
}

.galeriaImgs:hover {
    transform: scale(1.1);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-out;
}

/*serviços*/

#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

.servico {
    width: 470px;
    padding: 20px 10px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.serviEx {
    width: 100%;
    position: relative;
}

.serviEx img {
    width: 100%;
    border-radius: 15px;
    border: var(--dourado) 2px solid;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

.servico:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.textServi {
    position: absolute;
    top: 22px;
    left: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px 0 0 15px;
    height: calc(87% - 42px);
    width: 220px;
    padding: 20px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textServi h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.textServi ul {
    list-style-position: inside;
    list-style: disc;
    text-align: left;
    padding-left: 30px;
}

.textServi li+li {
    margin-top: 10px;
}

/*sobre*/

#sobre {
    margin: 30px auto 0;
}

#autor {
    background-color: var(--azul);
    color: white;
    text-align: center;
    border: #FFCB0E 2px solid;
    float: inline-start;
}

#autor img {
    width: 100%;
}

h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

/*contato*/

#contato {
    width: 100%;
    margin-top: 60px;
    background-image: url(../imgs/contato.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
}

#icos {
    display: block;
}

#icos img {
    width: 50px;   
    margin: 20px 20px;
    cursor: pointer;
}

#miudas {
    position: absolute;
    bottom: 10px;
}

small {
    color: rgba(112, 112, 112, 0.336);
    font-family: cursive;
    display: block;
    font-size: 15px;
}
    
/*elementos de sobreposição*/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 100;
}

#imgOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 85%;
    max-height: 85%;
    z-index: 101;
}

/*responsividade*/

/*versão mobile grande*/

@media screen and (min-width: 480px) {
    
}

/*Versão desktop*/

@media screen and (min-width: 768px) {
    /*nav bar responsiva*/

    nav {
        display: flex;
        gap: 15px;
    }

    nav a {
        color: white;
        text-decoration: none;
        transition: 0.2s ease-out;
    }

    nav a:hover {
        text-decoration: underline;
        color: var(--dourado);
        transition: 0.2s ease-out;
    }

    /*hero image responsiva*/

    #hero-text {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        background-color: rgb(0, 0, 0, 0.5);
        padding: 15px;
        width: 300px;
        height: calc(100% - 38px);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn {
        align-self: center;
        width: auto;
        transition: 0.3s ease-out;
    }

    #hero-text h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    #hero-text a {
        font-size: 20px;
        padding: 10px;
    }

    /*aba home responsiva*/

    #desc {
        display: flex;
    }

    #desc-text p+p {
        margin-top: 20px;
    }

    #desc-text,
    #especialidades {
        width: 50%;
    }

    #desc-text {
        padding-left: 20px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #especialidades {
        padding-right: 20px;
        padding-left: 10px;
    }

    .card+.card {
        margin-top: 20px;
    }

    /*aba sobre responsiva*/

    #sobre {
        width: 80%;
        max-width: 1000px;
        min-height: 460px;
    }

    #autor {
        border-radius: 150px;
        margin-right: 50px;
        padding-bottom: 25px;
        width: 300px;
    }

    #autor img {
        border-radius: 150px;
    }

    /*aba contato responsiva*/

    #contato {
        background-position: 40%;
        height: 740px;
    }

    #contato-content {
        width: 420px;
        position: absolute;
        left: calc(70% - 210px);
        top: 25%;
        text-align: center;
    }

    #contato h1 {
        color: white;
        font-size: 40px;
    }

    #contato p {
        color: white;
        font-size: 25px;
    }

    #miudas {
        left: 70%;
    }
}

@media screen and (min-width: 1050px) {
    /*nav bar responsiva*/

    nav {
        display: flex;
        gap: 15px;
    }

    nav a {
        color: white;
        text-decoration: none;
        transition: 0.2s ease-out;
    }

    nav a:hover {
        text-decoration: underline;
        color: var(--dourado);
        transition: 0.2s ease-out;
    }

    /*hero image responsiva*/

    #hero-text {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(0, -50%);
        color: white;
        background-color: rgb(0, 0, 0, 0.5);
        padding: 15px;
        width: 300px;
        height: 328px;
        text-align: center;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn {
        align-self: center;
        width: auto;
        transition: 0.3s ease-out;
    }

    #hero-text h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    #hero-text a {
        font-size: 20px;
        text-align: center;
    }

    #desc-text p+p {
        margin-top: 20px;
    }

    /*home responsiva*/

    #desc {
        display: block;
    }

    #desc-text {
        padding: 0 150px;
        text-align: center;
        display: block;
        width: calc(100% - 300px);
    }

    #desc-text p+p {
        margin-top: 20px;
    }

    #especialidades {
        display: block;
        width: 100%;
        padding: 0;
    }

    #especialidades h2 {
        margin-top: 50px;
    }

    #cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0 75px;
    }

    .card+.card {
        margin-top: 0;
    }

    /*aba sobre responsiva*/

    #sobre {
        width: 80%;
        max-width: 1000px;
        min-height: 460px;
    }

    #autor {
        border-radius: 150px;
        margin-right: 50px;
        padding-bottom: 25px;
        width: 300px;
    }

    #autor img {
        border-radius: 150px;
    }

    /*aba contato responsiva*/

    #contato {
        background-position: 30%;
        height: 740px;
    }

    #contato-content {
        width: 600px;
        position: absolute;
        left: calc(70% - 300px);
        top: 20%;
        text-align: center;
    }

    #contato h1 {
        color: white;
        font-size: 60px;
    }

    #contato p {
        color: white;
        font-size: 25px;
    }

    #miudas {
        left: 70%;
    }
}